<div class="album text-muted">
  <div id="portfolio_items" class="container">
    <ul
      class="row sortable"
      data-controller="sortable" 
      data-sortable-resource-name-value="portfolio"
    >
      <%= render partial: 'portfolio_item', collection: @portfolio_items %>
    </ul>
  </div>
</div>