<footer class="text-muted">
  <div class="container">
    <div class="row">
      <p>
        <%= copyright_generator %>
      </p>
      <p>
        <% unless current_page?(portfolios_path) %>
          <%= link_to "View All Portfolio Items", portfolios_path %> | 
        <% end %>
        <a href="#">Back to top</a>
      </p>
    </div>
  </div>
</footer>