<h1>About page</h1>

<hr>

<div class="row">
  <div class="col-lg-5">
    <%= image_tag "bio_pic.jpg", width: 300, alt: "Profile Image" %>
  </div>

  <div class="col-lg-7">
    <p>Raised in the wooded hills of Indiana, I took an interest in technology from an early age.</p>
    <p>With over a decade of web development experience...adsf.wef.g.safgkj; shafdlk jhajks gfjh ghj fsda</p>
  </div>
</div>
